<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <style>
        #sidebar img {
            width: 140px;
        }
        #sidebar li {
            padding-bottom: 10px;
        }
        body {
            font-family: sans-serif, Arial, Helvetica;
        }
        .main-content {
            padding: 20px;
            margin-left: 200px;
            margin-right: 200px;
            line-height: 1.5;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div id="sidebar" style="float: left; width: 150px; height: 100vh; margin-left: 20px; padding: 40px; background-color: #ffffff;">
        <ul style="list-style: none; padding: 0;">
            <li><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/docs/images/homepage_icon.png" alt="Home"></a></li>
            <li><a href="{{ site.baseurl }}/docs/pages/natural_history/README"><img src="{{ site.baseurl }}/docs/images/side-bar_buttons2.natural_history.png" alt="Natural History"></a></li>
            <li><a href="{{ site.baseurl }}/docs/pages/development/README"><img src="{{ site.baseurl }}/docs/images/side-bar_buttons2.development.png" alt="Development"></a></li>
            <li><a href="{{ site.baseurl }}/docs/pages/evolution/README"><img src="{{ site.baseurl }}/docs/images/side-bar_buttons2.evolution.png" alt="Evolution"></a></li>
        </ul>
    </div>
    <div class="main-content">
        {{ content }}
    </div>
</body>
</html>